
.list{
  background-color: slateblue;
  align-items: center;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}
ul{
  display: flex;
  list-style: none;
}
li{
  margin: 10px;
}

*{
  margin: auto;
  padding: auto;
}